note.txt
__pycache__/
*.pyc
.ipynb_checkpoints/
.env
.venv/
venv/
artifacts/models/*
!artifacts/models/.gitkeep
artifacts/evaluation/*
!artifacts/evaluation/.gitkeep
artifacts/plots/*
!artifacts/plots/.gitkeep
artifacts/examples/*
!artifacts/examples/.gitkeep
data/processed/*.csv
.DS_Store